<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body class="bg-gray-100">
<div class="container mx-auto px-4">
    <div class="bg-white rounded-lg p-4">
        <div class="flex items-center mb-4">
            <img src="src/public/images/fb-avatar-developer.png" alt="Logo" class="w-12 h-12 mr-4">
            <div class="w-full">
                <h1 class="text-lg font-medium bg-blue-600">Chatbot</h1>
            </div>
        </div>
        <div class="flex flex-col" id="chat-messages">
            <div class="text-gray-600 text-center p-4">Please chat with our chatbot here</div>
        </div>
        <div class="flex mb-4">
            <input class="w-full p-2 rounded-lg" type="text" id="chat-input" placeholder="Type your message here...">
        </div>
        <div class="flex">
            <button class="bg-blue-500 text-white p-2 rounded-lg" id="chat-submit">Send</button>
        </div>
    </div>
</div>
<script>
    $("#chat-submit").click(function() {
        var input = $("#chat-input").val();
        $("#chat-input").val("");
        var message = `<div class="my-2 p-2 rounded-lg bg-gray-200">${input}</div>`;
        $("#chat-messages").append(message);
        // Add code here to send the message to the chatbot and receive a response
    });
</script>




<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            xfbml            : true,
            version          : 'v6.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="106149991223927"
     theme_color="#0084ff">
</div>
</body>
</html>


